# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store

# =========================
# Environment
# =========================
.env
.venv/
env/
venv/

# =========================
# Logs
# =========================
*.log

# =========================
# DVC (IMPORTANT)
# =========================
/data/raw/
/data/processed/
